{% extends 'base.html' %}
{% load static %}
{% block title %} Test Mce {% endblock %}

{% block head %}
<script src="https://cdn.tiny.cloud/1/cykfqlnbm3bs4nn5n44xjeefkdembjhcvlxzatiqttcq2hii/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="{% static 'theblog/js/config.js' %}"></script>
{% endblock %}

{% block content %}


<h1>Test MCE</h1>
<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!--Sintax dibawah buat bikin form yang ada di model secara automatis, bisa dilihat dengan klik kanan lalu page source-->
        <!--ass_p itu maksudnya adalah menampilkan form dengan tag <p> bisa juga dengan yg lain misalnya list berarti <ul> as_ul-->
            {{ form.media }} 
            {{ form.as_p }} 
        <button type="" class="btn btn-secondary">Post</button>
    </form>

</div>

{% endblock %}